{% extends 'articles/index.html' %}
{% block content %}

<div class="card" style="width: 93rem ; background-color: cadetblue;  font-size: medium ; margin: 10px; font-family:Verdana, Geneva, Tahoma, sans-serif;">
    <div class="card-body">
      <h1 class="card-title">About</h1>
      <p class="card-text">My name is Ariv Bhaskar and I was born and raised in New Jersey. Some of my hobbies include.</p>
      <ul><li>sports such as table tennis and soccer</li>
        <li>I also enjoy programming and reading books mostly about history.</li>
        <li>Finally I enjoy playing video games with my friends and I am in many clubs such as speech&debate,theatre, and more.</li></ul>

    </div>
  </div>
{% endblock %}